body {
  margin: 0;
}

main {
  background-color: #000;
  background-repeat: repeat;
  min-height: 100vh;
}

.vid {
  position: fixed;
  width: 860px;
  height: 760px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 4px;
  background-color: #333;
  overflow: visible;
  box-shadow: 0 40px 50px rgba(0,0,0,0.5);

  .col {
    background-color: #000;
    z-index: 2;
  }

  video {
    object-position: center;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: none;
  }
}

.vidbucket,
.vid .col {
  width: 800px;
  height: 600px;
  top: 30px;
  left: 30px;
  position: absolute;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: inset 0px 0px 20px #000;
}

button {
  z-index: 999;
  position: fixed;
  position: absolute;
  bottom: 40px;
  left: 30px;
  -webkit-appearance: none;
  border: none;
  background: #000;
  color: #222;
  text-align: center;
  width: 60px;
  height: 60px;
  transition: all 0.5s;
  border-radius: 6px;

  &.ready {
    color: #fff;
  }

  &.on {
    background-color: #b00;
    box-shadow: inset 0 0 10px #000000;
  }

  &.pressed {
    background-color: #f44;
  }

  svg {
    fill: #fff;
    width: 30px;
    height: 30px;
  }
}

#info {
  position: fixed;
  top: 30px;
  width: 800px;
  left: 50%;
  transform: translate(-50%, -50%);

  p {
    color: #fff;
    text-align: center;
    display: none;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000, 4px 4px 0 #000;
  }
}

#loadingbar {
  position: absolute;
  top: 0;
  height: 20px;
  width: 100%;
  background-color: #222;

  span {
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 0;
    display: block;
    height: 100%;
    top: 0;
    transition: width 0.1s;
  }
}

@media (max-height: 750px) {
  .vidbucket, .vid .col {
      width: 600px;
      height: 450px;
      top: 10px;
      left: 10px;
  }

  .vid {
      width: 620px;
      height: 470px;
  }

  button {
      width: 30px;
      height: 30px;
      border-radius: 4px;
      bottom: -11px;
  }

  button svg {
      width: 12px;
      height: 12px;
  }

  #info p {
      font-size: 24px;
  }
}