body {
  margin: 0;
}

main {
  align-items: center;
  background-color: #000;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.vid {
  background-color: #333;
  border-radius: 4px;
  box-shadow: 0 40px 50px rgba(0,0,0,0.5);
  height: 760px;
  margin-bottom: 30px;
  position: relative;
  width: 860px;

  video {
    display: none;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    width: 100%;
  }
}

.vidbucket {
  align-items: center;
  border-radius: 6px;
  box-shadow: inset 0px 0px 20px #000;
  display: flex;
  height: 600px;
  justify-content: center;
  left: 30px;
  overflow: hidden;
  position: absolute;
  top: 30px;
  width: 800px;

  p {
    color: #fff;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000, 4px 4px 0 #000;
  }
}

.button {
  align-items: center;
  background: #000;
  border: none;
  border-radius: 6px;
  bottom: 30px;
  color: #222;
  display: flex;
  height: 60px;
  justify-content: center;
  left: 30px;
  position: absolute;
  text-align: center;
  transition: all 0.5s;
  width: 60px;
  z-index: 999;

  &.ready {
    color: #fff;
  }

  &.on {
    background-color: #b00;
    box-shadow: inset 0 0 10px #000000;
  }

  &.pressed {
    background-color: #f44;
  }

  svg {
    height: 30px;
    fill: #fff;
    width: 30px;
  }
}

.loadingbar {
  background-color: #222;
  height: 20px;
  display: flex;
  margin: 8px 0 40px;
  max-width: 800px;
  position: relative;
  width: 100%;

  span {
    background-color: #fff;
    display: block;
    height: 100%;
    width: 0;
  }
}

@media (max-height: 750px) {
  .vidbucket {
    height: 450px;
    left: 10px;
    top: 10px;
    width: 600px;

    p {
      font-size: 16px;
    }
  }

  .vid {
    height: 470px;
    width: 620px;
  }

  .button {
    border-radius: 4px;
    bottom: -10px;
    height: 30px;
    left: 18px;
    width: 30px;

    svg {
      height: 12px;
      width: 12px;
    }
  }
  
  .loadingbar {
    max-width: 600px;
  }
}